body{
  font-family: 'Open Sans', sans-serif;
}

/* header */
.header_top{
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}
.main_nav,
.secondary_nav{
  display: inline-block;
}
.logo img{
  height: 15px;
}
.main_nav ul{
  margin-bottom: 0;
}
.main_nav ul li{
  margin-right: 30px;
}
.main_nav li a{
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.main_nav li a:hover{
  text-decoration: none;
}
.secondary_nav li{
  margin-left: 10px;
}
.lang{
  padding: 5px;
  border: none;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  line-height: normal;
  font-size: 12px;
}
.lang i{
  font-size: 12px;
}
.btn_login{
  background-color: black;
  color: #fff;
  border-radius: 0px;
  padding: 8px 20px;
  font-weight: 600px;
}
.btn_login:hover{
  color: #fff;
}
.btn_mobile{
  border: none;
  font-size: 18px;
}
.header_bottom{
  margin: 70px 0;
}
h1{
  font-size: 100px;
  font-weight: bold;
}
.hero_img{
  width: 100%;
}
/* header */
/* main */
.product{
  text-align: center;
  padding: 80px 20px 30px 20px;
  margin-bottom: 30px;
}
.product_logo{
  height: 22px;
  margin-bottom: 25px;
}
.product p{
  font-size: 18px;
  margin-bottom: 25px;
}
.product a{
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
}
.product_img{
  max-height: 280px;
}






















@media screen and (max-width: 992px) {
  h1{
    font-size: 80px;
  }

}

@media screen and (max-width: 768px) {
  h1{
    font-size: 60px;
  }

}
